<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Venues</title>
  </head>
  <body>
    <h1>All Venues</h1>

<ul>
<% venues.forEach(venue => { %>
<li>
<h2><%= venue.name %></h2>
<img src="<%= venue.image_url %>" alt="Image of <%= venue.name %>" />
<p>Address: <%= venue.address %></p>
<p>Category: <%= venue.category %></p>
<p>Description: <%= venue.description %></p>
<p>Website: <a href="<%= venue.website %>" target="_blank" rel="noopener noreferrer"><%= venue.website %></a></p>
<p></p>
</li>
<% }) %>
</ul>

    <a href="/auth/sign-out">Sign out</a>

  </body>
</html>
